@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    margin: 20px;
}

form {
    color: black;
}

textarea {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    /* Optional: Adjust spacing between list items */
}

.color-red {
    color: #bd2130;
    font-size: 20px;
    margin: 10px;
}

.color-red-bold {
    color: #bd2130;
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    margin: 10px;
}

button {
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border: none;
}

.main-form-button:hover {
    background-color: #bd2130;
    /* Optional: Change background color on hover */
}

.main-form-button {
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #dc3545;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    display: block;
}

.main-welcome {
    color: #333;
    font-size: 40px;
    font-weight: bolder;
}

.main-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fixed-heading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-form {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
}

.form-input {
    background-color: #929292;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-weight: bold;
    color: #000;
}

.movies-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.main-profile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #0c0c0c;
}

.profile-main {
    color: #868585;
    font-size: 20px;
    font-weight: bolder;
}

.main-profile-item {
    border: 1px solid #bd7272;
    padding: 5px;
}


/* Assuming these class names are available in your stylesheets */

.flex-row {
    display: flex;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.movie-review-img {
    width: 300px;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.movie-details {
    width: 50%;
    margin: 10px;
}

.review-details {
    margin: 10px;
}

.movie-details p {
    margin-bottom: 10px;
}

.position-left {
    position: fixed;
    width: 20%;
    background-color: #3f3a3a;
    border: 2px solid #bd7272;
}

.movies-list-main {
    width: 70%;
    height: 80%;
    max-width: 100%;
    left: 25%;
    position: fixed;
    overflow: auto;
    max-height: 80vh;
    margin-top: 30px;
    background-color: #333;
    border: 2px solid #868585;
}

.movies-list-main::-webkit-scrollbar {
    width: 12px;
}

.movies-list-main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.movies-list-main::-webkit-scrollbar-track {
    background-color: transparent;
}

.review-main {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 2px solid #bd2130;
    margin: 10px;
}

.review-list-poster {
    border: 1px solid #868585;
}

.review-list-main {
    width: 80%;
    height: 110px;
    margin-left: 10px;
}

.review-name {
    color: #a39d9d;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}