@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    background-color: #272727;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    margin: 20px;
}

img {
    height: 100% !important;
}

form {
    color: black;
}

textarea {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    /* Optional: Adjust spacing between list items */
}

.color-red {
    color: #1b8cd8;
    font-size: 20px;
    margin: 10px;
}

.color-red-bold {
    color: #363535;
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    margin: 10px;
}

.main-form-button:hover {
    background-color: #bd2130;
    /* Optional: Change background color on hover */
}

.main-form-button {
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #dc3545;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}

.mini-form-button {
    padding: 3px 5px;
    color: #fff;
    border: 1px solid #dc3545;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin-top: 2px;
}

.main-welcome {
    color: #2e7ad1;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
}

.main-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fixed-heading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-form {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
}

.form-input {
    background-color: #929292;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-weight: bold;
    color: #000;
}

.movies-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.main-profile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #0c0c0c;
}

.profile-main {
    color: #868585;
    font-size: 20px;
    font-weight: bolder;
}

.main-profile-item {
    border: 1px solid #bd7272;
    padding: 5px;
}


/* Assuming these class names are available in your stylesheets */

.flex-row {
    display: flex;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.movie-review-img {
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.movie-details {
    margin: 10px;
}

.review-details {
    margin: 10px;
}

.movie-details p {
    margin-bottom: 10px;
}

.position-left {
    position: fixed;
    width: 20%;
}

.movies-list-main {
    width: 70%;
    height: 80%;
    max-width: 100%;
    left: 25%;
    position: fixed;
    overflow: auto !important;
}

@media (max-width: 768px) {
    .movies-list-main {
        left: 0;
        /* Adjust this value as needed */
        width: 100%;
        /* Make it full width on smaller screens */
    }
    .position-left {
        z-index: 1;
        width: 70%;
        right: 0;
        /* Make it full width on smaller screens */
    }
    body {
        margin: 0px;
    }
    .main-form {
        flex-direction: column;
    }
    .movies-list-main {
        height: 100%;
    }
}

.movies-list-main::-webkit-scrollbar {
    width: 12px;
}

.movies-list-main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.movies-list-main::-webkit-scrollbar-track {
    background-color: transparent;
}

.review-main {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 2px solid #4b5261;
    margin: 10px;
}

.recent-reviews {
    margin: 10px;
}

.review-list-poster {
    border: 1px solid #868585;
}

.review-list-main {
    width: 80%;
    margin-left: 10px;
}

.review-name {
    color: #6e86b6;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.margin-10px {
    margin: 10px;
}

.dairy-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}

.dairy-item-main {
    border-bottom: 2px solid #272727;
    width: 90vw;
    margin: 10px;
}

.card-review {
    margin: 10px;
    padding: 5px;
    border: 1px solid #4b5261;
}

.movie-title {
    margin: 10px;
    font-size: 20px;
}